/* Пример кнопки с картинкой */
/* <button class="add-on icon-start">Запустить</button> */

add-on {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 8px 12px;
  min-width: 40px;
  min-height: 36px;
  vertical-align: top;

  font: inherit;
  color: #666666;

  border: 2px solid #cccccc;
  background-color: #eeeeee;
}

.icon-start {
  background-image: url(img/icon-rocket.svg);
  background-size: 70%;
}

[class*=icon-] {
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}

/* ********************************* */
/* Установка размера по границам */

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* подключение сторонних. для родителя: */
.content-box-component {
  box-sizing: content-box;
}
/* ***************************************** */
/* Подсветка блока для разметки */

background: rgba(234, 255, 45, 0.2);
box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

/* ***************************************** */
